
// MAIN
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-body: "MicroSquare";
$color-body: "#";
$color-link: "";
$bgr-header: #182037;
$bgr-body: #161d31;
$bgr-sidebar: #131931;
$color-border: #2d3854;
$color-text: rgba(255, 255, 255, 0.80);
$color-link: #14aaf7;
$color-orange: #ec5b35; //e12e00
$bgr-dropdow: #26314c;
$text-gray: rgba(255, 255, 255, 0.50);
$color-blue-blur: #2a99b2;
$bgr-headding: #202941;

$bgr-block: #26314c;
$color-blue: #2392d9; 
$color-nav: #a9abb1; 
$color-gray: #898d98;