.dataTables_wrapper{
  border: 1px solid $color-border;
  border-radius: 3px;
}
.dataTables_length{
      padding-left: 20px;
    padding-top: 15px;
}
.dataTables_info{
      padding-left: 20px;
    padding-bottom: 15px;
}
.dataTables_filter{
      padding-right: 20px;
    padding-top: 15px;
}
.dataTables_paginate{
  padding-top: 5px;
      padding-right: 20px;
    padding-bottom: 15px;
}
table thead th{
  border: 0;
}