#Tree-js{
	.number-lever {
        background-color: #ef4581!important;
        margin-left: 10px;
        margin-right: 3px;
    }
    .number-lever,
    .text-lever {
        background-color: #ff9400;
        padding: 2px 5px;
        font-size: 11px;
        position: relative;
        top: 0;
        font-weight: 300;
        border-radius: 3px;
        color: #ffffff;
    }
}